In [1]:
# Dependencies and Setup
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import requests
# import io

In [2]:
# Load GPIin dataframe
cols = ['country'] + ["score_"+str(i) for i in range(2011,2017)]
gpi_csv_path = "gpi.csv"
gpi_df = pd.read_csv(gpi_csv_path, skiprows=0, usecols=cols)
gpi_df = pd.melt(gpi_df, id_vars=["country"], var_name="Year", value_name="GPI")
# replace score_ with empty string
gpi_df["Year"] = gpi_df["Year"].str.replace("score_", "")
# peak head
gpi_df

                              country  Year    GPI
0                             Iceland  2011  1.148
1                             Denmark  2011  1.289
2                             Austria  2011  1.337
3                         New Zealand  2011  1.279
4                            Portugal  2011  1.453
5                      Czech Republic  2011  1.320
6                         Switzerland  2011  1.421
7                              Canada  2011  1.355
8                               Japan  2011  1.287
9                            Slovenia  2011  1.358
10                            Finland  2011  1.352
11                            Ireland  2011  1.370
12                             Bhutan  2011  1.693
13                             Sweden  2011  1.401
14                          Australia  2011  1.455
15                            Germany  2011  1.416
16                             Norway  2011  1.356
17                            Belgium  2011  1.413
18                            Hungary  2011  1.495
19                          Singapore  2011  1.585
20                        Netherlands  2011  1.628
21                             Poland  2011  1.545
22                          Mauritius  2011    NaN
23                           Slovakia  2011  1.576
24                              Spain  2011  1.641
25                            Croatia  2011  1.699
26                              Chile  2011  1.710
27                           Botswana  2011  1.695
28                           Bulgaria  2011  1.845
29                           Malaysia  2011  1.485
..                                ...   ...    ...
948                        Azerbaijan  2016  2.450
949                           Eritrea  2016  2.460
950                              Chad  2016  2.464
951                              Mali  2016  2.489
952                           Burundi  2016  2.500
953                       Philippines  2016  2.511
954                            Mexico  2016  2.557
955                             India  2016  2.566
956                             Egypt  2016  2.574
957                         Venezuela  2016  2.651
958                            Israel  2016  2.656
959                            Turkey  2016  2.710
960                           Lebanon  2016  2.752
961                          Colombia  2016  2.764
962                         Palestine  2016  2.832
963                           Nigeria  2016  2.877
964                       North Korea  2016  2.944
965                            Russia  2016  3.079
966  Democratic Republic of the Congo  2016  3.112
967                          Pakistan  2016  3.145
968                             Libya  2016  3.200
969                             Sudan  2016  3.269
970                           Ukraine  2016  3.287
971          Central African Republic  2016  3.354
972                             Yemen  2016  3.399
973                           Somalia  2016  3.414
974                       Afghanistan  2016  3.538
975                              Iraq  2016  3.570
976                       South Sudan  2016  3.593
977                             Syria  2016  3.806

[978 rows x 3 columns]